*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 0 auto;
  max-width: 1140px;
  font-size: 1.4rem;
  background: linear-gradient(to bottom, #f6f6f6 0%, #a7ad85 100%) no-repeat
    fixed;
}

input,
textarea,
select,
button {
  font-family: inherit;
}
