@import "base";

$highlight-bg-color: rgba(171, 236, 117, 0.5);
$border-color: rgb(170, 166, 166);

@mixin bg-transition {
  transition: background-color 0.4s ease-out;
}

@mixin focus {
  &:focus {
    outline: 1px solid rgb(4, 155, 4);
  }
}
@mixin outline {
  outline: 2px solid $highlight-bg-color;
}

//media-query
@mixin for-mobile {
  @media only screen and (max-width: 526px) {
    @content;
  }
}

.header {
  text-align: center;
  margin: 0.4em 0;
  position: relative;
  z-index: 1;
  padding: 0.2em;
  letter-spacing: 0.05em;
  &:after {
    position: absolute;
    content: "";
    top: 50%;
    left: 50%;
    height: 100%;
    width: 40%;
    border: 1px solid $border-color;
    border-radius: 0.1em;
    z-index: -1;
    transform: translate(-50%, -50%);
  }
}

.form {
  display: flex;
  justify-content: center;
  align-items: center;
  white-space: nowrap;
  margin: 0 0.2em 0.2em;
  @include for-mobile {
  }

  .input {
    width: 35%;
    font-size: 1rem;
    padding: 0.25em;
    @include focus;
  }

  .btn {
    color: rgb(18, 129, 18);
    font-size: 1.6rem;
    padding-top: 0.25em;
    background: transparent;
    border: none;
    transition: color 0.2s ease-out;
    transform: translateX(-120%);
    cursor: pointer;
    &:hover {
      color: rgb(0, 160, 0);
    }
    @include for-mobile {
      transform: none;
    }
  }

  .select-container {
    display: flex;
    align-items: center;
    justify-content: space-between;

    .label {
      font-size: 1rem;
      text-align: center;
      margin-right: 0.25em;
    }

    #priority-select {
      font-size: 1rem;
      text-transform: capitalize;
      padding: 0.25em;
      cursor: pointer;
      @include bg-transition;
      &:hover {
        @include outline;
      }
      @include focus;
    }
  }
}

.tasks-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.sort-btn {
  display: flex;
  align-items: center;
  font-size: 1rem;
  padding: 0.25em 1em;
  background: whitesmoke;
  border: 1px solid $border-color;
  border-radius: 0.1em;
  cursor: pointer;
  &:hover {
    @include outline;
  }
  .sort-icon {
    margin-left: 0.5em;
  }
}

.todo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 0.75em;
  list-style: none;
  text-align: center;
  margin: 0.1em 0.2em;
  padding: 0.2em;
  background: rgba(255, 166, 0, 0.6);
  border: 1px solid $border-color;
  border-radius: 0.1em;
  box-shadow: 1px 0px 10px rgba(56, 56, 56, 0.1);
  transition: transform 0.2s ease-out;
  &:hover {
    transform: scale(1.02);
  }

  &.high {
    background: rgba(251, 4, 4, 0.3);
  }
  &.low {
    background: rgba(156, 156, 156, 0.5);
  }

  .todo-item {
    &.completed {
      text-decoration: line-through;
      opacity: 0.5;
    }
  }

  .edit-input {
    font-size: 1.4rem;
    padding: 0.25em;
  }

  .date {
    font-size: 0.7rem;
    margin: 0 1em 0.25em;
  }

  .edit-btn,
  .delete-btn,
  .completed-btn {
    cursor: pointer;
    color: rgb(233, 77, 77);
    font-size: 1.3rem;
    background: rgba(237, 230, 240, 0.6);
    border: 1px solid rgb(206, 146, 146);
    padding: 0.15em 0.15em 0;
    margin: 0 0.25em;
    transition: transform 0.2s ease-out;
    &:hover {
      background: rgb(236, 234, 234);
    }
  }

  .edit-btn {
    color: orange;
  }

  .completed-btn {
    color: green;
  }

  .delete-icon {
    color: rgb(233, 77, 77);
  }
}

.delete-all {
  font-size: 1rem;
  margin-top: 0.5em;
  padding: 0.25em 4.3em;
  background: whitesmoke;
  text-transform: capitalize;
  border: 1px solid rgb(199, 108, 108);
  border-radius: 0.1em;
  transition: border-color 0.3s ease-out;
  cursor: pointer;
  &:hover {
    border-color: rgb(228, 34, 34);
  }
  &:focus {
    outline-color: rgb(228, 34, 34);
  }
}

.filter-container {
  margin: 0.4em 0;
  display: flex;
  align-items: center;
  justify-content: center;

  .label-filter {
    font-size: 1rem;
    text-align: center;
    margin: 0.25em;
  }
  #filter-select {
    font-size: 1rem;
    text-transform: capitalize;
    padding: 0.25em;
    cursor: pointer;
    @include bg-transition;
    &:hover {
      outline: 2px solid $highlight-bg-color;
    }
    @include focus;
  }
}
