@import "base";

$highlight-bg-color: rgba(171, 236, 117, 0.5);
$border-color: rgb(170, 166, 166);

@mixin bg-transition {
  transition: background-color 0.4s ease-out;
}

@mixin focus {
  &:focus {
    outline: 1px solid rgb(4, 155, 4);
  }
}
@mixin outline {
  outline: 2px solid $highlight-bg-color;
}

//media-query
@mixin for-mobile {
  @media only screen and (max-width: 526px) {
    @content;
  }
}

.App {
  border: 3px solid rgb(235, 178, 72);
  width: fit-content;
  white-space: nowrap;
  margin: 1vh auto;
  background: linear-gradient(to bottom, #f6f6f6 0%, #a7ad85 100%) no-repeat
    fixed;
  @include for-mobile {
    border: none;
    margin: 0;
    width: 100%;
    min-height: 100vh;
  }
}

.todo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 0.75em;
  list-style: none;
  text-align: center;
  margin: 0.1em auto;
  padding: 0.2em;
  background: rgba(255, 166, 0, 0.6);
  border: 1px solid $border-color;
  border-radius: 0.1em;
  box-shadow: 1px 0px 10px rgba(56, 56, 56, 0.1);
  transition: transform 0.2s ease-out;
  will-change: transform;
  &:hover {
    transform: scale(1.02);
  }

  &.high {
    background: rgba(251, 4, 4, 0.3);
  }
  &.low {
    background: rgba(156, 156, 156, 0.5);
  }

  .todo-item {
    overflow: hidden;
    &.completed {
      text-decoration: line-through;
      opacity: 0.5;
    }
  }

  .edit-input {
    max-width: 215px;
    font-size: 1.4rem;
    padding: 0.25em;
  }

  .date {
    font-size: 0.7rem;
    margin: 0 1em 0.25em;
  }

  .edit-btn,
  .delete-btn,
  .completed-btn {
    cursor: pointer;
    color: rgb(233, 77, 77);
    font-size: 1.3rem;
    background: rgba(237, 230, 240, 0.6);
    border: 1px solid rgb(206, 146, 146);
    padding: 0.15em 0.15em 0;
    margin: 0 0.25em;
    transition: transform 0.2s ease-out;
    &:hover {
      background: rgb(236, 234, 234);
    }
  }

  .edit-btn {
    color: orange;
  }

  .completed-btn {
    color: green;
  }

  .delete-icon {
    color: rgb(233, 77, 77);
  }
}
