@import "base";

$highlight-bg-color: rgba(181, 238, 233, 0.3);

.header {
  text-align: center;
  margin: 0.4em 0;
}

.form {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 1em;

  .input {
    width: 30%;
    font-size: 1rem;
    padding: 0.25em;
    &:focus {
      background: $highlight-bg-color;
    }
  }

  .select-container {
    display: flex;
    align-items: center;
    justify-content: center;

    .label {
      font-size: 1rem;
      text-align: center;
      margin: 0.25em;
    }
    #priority-select {
      font-size: 1rem;
      text-transform: capitalize;
      padding: 0.25em;
      cursor: pointer;
      &:hover {
        background: $highlight-bg-color;
      }
    }
  }

  .btn {
    color: green;
    font-size: 1.8rem;
    padding-top: 0.25em;
    background: transparent;
    border: none;
    transition: all 0.2s ease-out;
    cursor: pointer;
    &:hover {
      transform: scale(1.05);
    }
  }
}

.tasks-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.todo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1em;
  list-style: none;
  text-align: center;
  padding: 0.25em;
  background: rgba(255, 166, 0, 0.2);
  border: 1px solid yellowgreen;
  transition: all 1s ease;
  &:nth-child(1n):not(:last-child) {
    border-bottom: none;
  }

  &.high {
    background: rgba(251, 4, 4, 0.2);
  }
  &.low {
    background: rgba(156, 156, 156, 0.2);
  }

  .todo-item {
    &.completed {
      text-decoration: line-through;
      opacity: 0.5;
    }
  }

  .edit-input {
    font-size: 1.4rem;
    padding: 0.25em;
  }

  .date {
    font-size: 0.7rem;
    margin: 0 1em;
  }

  .edit-btn,
  .delete-btn,
  .completed-btn {
    cursor: pointer;
    color: rgb(233, 77, 77);
    font-size: 1.25rem;
    background: transparent;
    border: none;
    margin: 0 0.25em;
  }

  .completed-btn {
    color: green;
  }

  .edit-btn {
    color: orange;
  }
}

.filter-container {
  margin: 0.4em 0;
  display: flex;
  align-items: center;
  justify-content: center;

  .label-filter {
    font-size: 1rem;
    text-align: center;
    margin: 0.25em;
  }
  #filter-select {
    font-size: 1rem;
    text-transform: capitalize;
    padding: 0.25em;
    cursor: pointer;
    &:hover {
      background: $highlight-bg-color;
    }
  }
}
