.header {
  text-align: center;
  margin: 0.4em 0;
  position: relative;
  z-index: 1;
  letter-spacing: 0.05em;
  .span-header {
    background: linear-gradient(to bottom, #f6f6f6 0%, #a7ad85 100%) no-repeat
      fixed;
    padding: 0 0.3em;
  }
  &:after {
    border-top: 2px solid rgb(221, 173, 90);
    content: "";
    margin: 0 auto;
    position: absolute;
    top: 50%;
    left: 0;
    bottom: 0;
    right: 0;
    width: 70%;
    z-index: -1;
  }
}
